* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: grey;
}
#main {
    margin: 40px auto;
    width: 700px;
    height: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    background: pink;
    border-radius: 0px 15px 0px 15px;
}
.question-container {
    width: 100%;
    height: 30%;
    
}
/* .question-container p {
    text-align: center;
} */
button {
    height: 80px;
    width: 60%;
    border-radius: 5px;
    border: none;
    font-family: 'Lora', serif;
    font-size: 20px;
}
#next_button {
    background: rgb(56, 170, 56);
    /* margin-top: 35px; */
}
#pbutton {
    margin-bottom: 15px;
    background: white;
}
.correct {
    position: absolute;
    background: purple;
    top: 10px;
    right: 25px;
}
.fa-solid {
    font-size: 25px;
}
#corrector {
    display: none;
    position: absolute;
    left: 900px;
    top: 230px;
    background: greenyellow;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    color: black;
}
.score {
    display: none;
    position: absolute;
    left: 900px;
    top: 230px;
    background: greenyellow;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    color: black;
}
.score p {
    font-family: 'Cormorant SC', serif;
    font-size: 12px;
    font-weight: bold;
    padding-top: 10px;
}
#corrector p {
    font-family: 'Cormorant SC', serif;
    font-size: 10px;
}
.enter {
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Lora', serif;
    height: 35px;
}
#re-try {
    display: none;
    position: absolute;
    left: 900px;
    top: 230px;
    background: red;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    color: black;
}
#testp {
    font-family: 'Lora', serif;
    font-size: 44px;
    padding: 40px;
}

/* media query for screen size of max-width: 400px(iphone 6) */
@media (max-width: 400px) {
    #main {
        max-width: 375px;
        height: 667px;
        
    }
    .question-container {
        width: 320px;
        height: 140px;
        margin: 60px 28px 27px 50px;
        text-align: center;
    }
    #re-try {
        display: none;
        position: absolute;
        left: 260px;
        top: 400px;
        background: red;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        color: black;
    }
    #re-try p, #re-try i {
        font-size: 10px;
    } 
    #corrector {
        display: none;
        position: absolute;
        left: 260px;
        top: 400px;
        background: greenyellow;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        color: black;
    }
    .score {
        display: none;
        position: absolute;
        left: 260px;
        top: 400px;
        background: greenyellow;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        color: black;
    }
    .score p {
        font-size: 10px;
    }
    #testp {
        width: 100%;
        height: 100%;
        font-size: 35px;
    }
    .enter {
        margin-top: 50px;
    }
    .button {
        height: 50px;
        width: 290px;
    }
    #next_button {
        margin-top: 124px;

    }
    #pbutton {
        margin-bottom: 30px;
        margin-top: 30px;
    }
}
